.component-menu .monaco {
    flex-grow: 1;
    margin: 1rem 0 0;
    border: solid 1px #ddd;
    color: rgba(0, 0, 0, .5);
}

.component-menu .monaco .lines-content.monaco-editor-background {
    margin-top: 14px;
}

.tree-editor{
    display: block;
    width: 100%
}

#graph-container{
    height: 100rem;
    padding: 1rem;
}

.highlighted {
    color: red;
}
