.formula-editor-modal .editor {
    display: flex;
    flex-grow: 1;
}


#input, #output {
    width: 100%;
    height: 50rem;
    overflow: scroll;
    display: block;
    margin: 1rem 0 0;
    border: solid 1px #ddd;
    color: rgba(0, 0, 0, .5);
}

.editor-options-card {
    overflow: auto;
    border: none;
    background: #fff;
}

.formula-editor-modal #editor-wrapper{
    margin: 1rem;
    display: inline-block;
    flex: 0 0 30%;
    background: #fff;
}



.editor-string-rep{
    max-width: 60rem;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.tree-editor .editor-component-graph{
    /* display:flex; */
    height: 90rem;
    background: #fff;

    border-radius: 2px;
}


.tree-editor #transformer-container{
    position: absolute;
    top: 10rem;
    right: 1.5rem;
    padding: 1rem;
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.editor-menu{
    display: inline-block;
}



.transformer-wrapper{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.highlighted {
    color: red;
}

.formula-button{
    text-align:left;
    width: 100%;
    overflow: scroll;
}
.editor-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent !important;
    z-index: 1000;
}

.editor-modal {
    width: calc(90%) !important;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: white;
    padding: 1rem !important;
    inset: 5rem 3rem 6rem !important;
    top: 5rem !important;
    left: 3rem !important;
    bottom: 6rem !important;
    border: none !important;
    border-radius: 2px !important;
    box-shadow: 5px 5px 50px 0 rgba(0, 0, 0, 0.2) !important;
    box-sizing: border-box !important;
    z-index: 100;
    overflow: scroll;
}
