.star-modal-content{
    display:flex;
    flex-direction:row;
}

.star-modal-content .lemma-table {
    flex: 0 0 80%;
}

.star-modal-content .learned-ts {
    flex: 0 0 20%;
}
.star-modal-content .learned-ts .ts-button{
    width: 100%;
    text-align: left;
}
